.Calculator-Buttons {
    max-width: 300px;
    display: -webkit-inline-box;
    text-align: center;
}

.Screen {
    width: 250px;
    height: 50px;
    font-size: 40px;
}

body {
    color: white;
}
